<div class="main-container">
    <main>
        <section class="western-wear">
            <a href="#" class="uni-link" id="link-1">Shop Women's Western</a>
            <a href="#" class="uni-link" id="link-2">Shop Men's Western</a>
        </section>
        <section class="women-rtw">
            <a href="#" class="uni-link" id="link-3">Shop Women's RTW</a>
        </section>
        <section class="home">
            <a href="3" class="uni-link" id="link-4">Shop Bath Linen</a>
            <a href="#" class="uni-link" id="link-5">Shop Bedding</a>
        </section>
        <section class="collection-container">
            <div class="container">
                <div class="section-heading">
                    <h2>Explore More</h2>
                </div>
                <div class="collection">
                    <a href="#" class="flex flex-items">
                        <img src="./images/kid_wear.webp" alt="Image">
                        <div class="flex-content">
                            <h5>Kid's Wear</h5>
                            <p>Shop Now</p>
                        </div>
                    </a>
                    <a href="#" class="flex flex-items">
                        <img src="./images/men_shirt.webp" alt="Image">
                        <div class="flex-content">
                            <h5>Men's Shirt</h5>
                            <p>Shop Now</p>
                        </div>
                    </a>
                    <a href="#" class="flex flex-items">
                        <img src="./images/limited_edition.webp" alt="Image">
                        <div class="flex-content">
                            <h5>Limited Edition</h5>
                            <p>Shop Now</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-heading">
                    <h2>Products</h2>

                </div>
                <div class="row">
                    <% for (let product of products) { %>
                        <div class="col-md-4 mb-4">
                            <div class="card shadow-sm">
                                <img src="/<%= product.image || 'uploads/default-image.jpg' %>" class="card-img-top"
                                    alt="<%= product.title %>" style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= product.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%= product.description.substring(0, 100) %>...
                                    </p>
                                    <p class="text-success"><strong>Price:</strong> $<%= product.price %>
                                    </p>
                                    <form action="/cart/add" method="POST">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                                    </form>
                                    <% if (!user) { %>
                                        <button onclick="alert('Please log in to add items to your wishlist.')"
                                            class="btn btn-outline-danger btn-sm mt-2">Add to Wishlist</button>
                                        <% } else { %>
                                            <form action="/wishlist/add" method="POST" class="mt-2">
                                                <input type="hidden" name="productId" value="<%= product._id %>">
                                                <button type="submit" class="btn btn-outline-danger btn-sm">Add to
                                                    Wishlist</button>
                                            </form>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <section class="new-collection-container">
            <div class="container">
                <div class="section-heading">
                    <h2>All That's New</h2>
                    <div class="blog">
                        <a href="#">VIEW ALL BLOGS</a>
                    </div>
                </div>
                <div class="new-collection">
                    <div class="blog-flex">
                        <div class="image-container">
                            <a href="#" class="flex flex-items">
                                <img src="./images/new_image.webp" alt="Image">
                            </a>
                            <div class="blog-date">
                                <span>September 19, 2024</span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title">
                                <a href="">Discover the Best Unstitched Winter Dresses for Women: Winter Collection
                                    2024</a>
                            </h5>
                            <div class="blog-desc">
                                Discover the Best Unstitched Winter Dresses for Women:
                                Winter Collection 2024
                                Winter is the time for the ultimate…
                            </div>
                            <p class="blog-text-link">
                                <a href="#">
                                    <span>Read More</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="blog-flex">
                        <div class="image-container">
                            <a href="#" class="flex flex-items">
                                <img src="./images/new_image2.webp" alt="Image">
                            </a>
                            <div class="blog-date">
                                <span>AUGUST 03, 2024</span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title">
                                <a href="">Create Your Dream Cozy Bedroom: Shop Gul Ahmed's Top Bedding
                                    Collection</a>
                            </h5>
                            <div class="blog-desc">
                                Create Your Dream Cozy Bedroom: Shop Gul Ahmed's Top
                                Bedding Collection Creating a cozy bedroom is all about…
                            </div>
                            <p class="blog-text-link">
                                <a href="#">
                                    <span>Read More</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="blog-flex">
                        <div class="image-container">
                            <a href="#" class="flex flex-items">
                                <img src="./images/new_image3.webp" alt="Image">
                            </a>
                            <div class="blog-date">
                                <span>AUGUST 03, 2024</span>
                            </div>
                        </div>
                        <div class="blog-content">
                            <h5 class="blog-title">
                                <a href="">Celebrate Freedom with Ideas: 14th August Sale 2024 on the Latest Fashion
                                    Essentials</a>
                            </h5>
                            <div class="blog-desc">
                                Celebrate Freedom with Ideas: 14th August Sale 2024 on
                                the Latest Fashion Essentials Unleash the shopper in you at…
                            </div>
                            <p class="blog-text-link">
                                <a href="#">
                                    <span>Read More</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="qualities">
            <div class="policies">
                <a href="#" class="value-details">
                    <span class="shipping-img fa fa-shipping-fast exclude-dark-mode"></span>
                    <span>
                        <span class="h3">SHIPPING CHARGES</span>
                        <p>Flat Charges: PKR 99 on all orders</p>
                    </span>
                </a>
                <a href="#" class="value-details">
                    <span class="img24-7 exclude-dark-mode"></span>
                    <span>
                        <span class="h3">SUPPORT 24/7</span>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </span>
                </a>
                <a href="#" class="value-details">
                    <span class="track-order-img fa fa-map-marker fa-3x"></span>
                    <span>
                        <span class="h3">TRACK YOUR ORDER</span>
                        <p>Track your order for quick updates</p>
                    </span>
                </a>
                <a href="#" class="value-details">
                    <span class="return-exchange-img r-e-icon exclude-dark-mode"></span>
                    <span>
                        <span class="h3">RETURN &amp; EXCHANGES</span>
                        <p>Please view the return and exchange policy</p>
                    </span>
                </a>
                <a href="#" class="value-details">
                    <span class="int-ship-img fa fa-ship"></span>
                    <span>
                        <span class="h3">INTERNATIONAL SHIPPING</span>
                        <p>For international shipping rates, please see Shipping Policy</p>
                    </span>
                </a>
            </div>
            <div class="content">
                <div class="image-1">
                    <img src="./images/qualtiy_4.webp" alt="Premium">
                </div>
                <div class="image-1">
                    <img src="./images/quality_3.png" alt="Premium">
                </div>
                <div class="image-1">
                    <img src="./images/quality_2.png" alt="Premium">
                </div>
                <div class="image-1">
                    <img src="./images/quality_1.png" alt="Premium">
                </div>
            </div>
        </section>
    </main>
</div>